{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:node/recommended"
  ],
  "plugins": [
    "babel"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
  },
  "globals": {},
  "rules": {
    "no-restricted-syntax": [0],
    "class-methods-use-this": [0],
    "no-underscore-dangle": [0],
    "no-multi-assign": [0],
    "no-unused-vars": [0],
    "global-require": [0],
  }
}