# dependencies
node_modules/

# IDE
/.idea
/.awcache
/.vscode
*.code-workspace

# dist
packages/*/dist


# logs
logs/*.log
**/logs/**.log

# misc
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
packages/*/__debug__

# test
packages/*/coverage