<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <button onclick="go()">点我</button>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
  <script>
    function go () {
      axios.patch('http://localhost:8005/hello2', {
        a: 1,
        b: 123213,
      },  {
        headers: {
          'Daze-Test': 'test',
          'Content-Type': 'application/json'
        }
      })
    }
  </script>
</body>
</html>