name: Node CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  test:
  
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [8, 10, 12]

    services:
      mysql:
        image: mysql:5.7
        ports:
        - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: daze
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Dependences Install
      run: |
        npm install
        npm install codecov
        ./node_modules/.bin/lerna bootstrap
    - name: Run Test
      run: |
        npm run test:coverage
    - name: Codecov
      run: |
        ./node_modules/.bin/codecov -t a6e4e876-8964-4524-b1b9-87804a54f2ba

